.google-map {
  height: 50%;
  position: absolute;
  width: 50%;
}
.map {
  top: 20px;
  display: block;
  width: 100%;
  height: 100%;
}
.navbar-static-top {
  margin-bottom: 19px;
}

.navbar .container {
  height: 50px;
}

.jumbotron h1 {
  font-size: 36px;
  margin-bottom: 36px;
 }
