.google-map {
  height: 100%;
  position: absolute;
  width: 100%;
}

.map {
  display: block;
  width: 100%;
  height: 93%;
}

/*nav bar styling*/
/*.navbar-static-top {
  margin-bottom: 19px;
}*/

.navbar .container {
  height: 50px;
  margin-top: 5px;
}

.navbar {
  margin-bottom: 0px;
  font-size: 18px;
}

.navbar-brand {
  font-size: 18px;
}

.main-nav {
  padding: 15px;
  line-height: 20px;
}

/*jumbotron in Entrance styling*/
.jumbotron h1 {
  font-size: 36px;
  margin-bottom: 36px;
  margin-left: 100px;
}

.jumbotron {
  background-image: url('./img/bridge.jpg');
  height: 600px;
  width: 1100px;
  margin: 0 auto;
  padding-left: 50px;
}

.entrance {
  margin-top: 30px;
}

/*google location search bar styling*/
.search-location {
  width: 280px; 
  height: 50px;
  font-size: 18px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  text-align: center;
  margin-left: 0px;
}

#pac-container {
  height: 100px;
}

#search-input {
  height: 50px;
  margin-left: 10px;
}

/*yelp restaurant styling*/
.yelp-img {
  width: 300px;
  height: 200px;
}

.yelp-select-price {
  width: 100px;
  height: 35px;
  margin: 10px 60px;
  font-size: 18px;
}

.yelp-select-style {
  width: 150px;
  height: 35px;
  margin: 10px 60px;
  margin-left: 0px;
  font-size: 18px;
}

.restaurant-title {
  padding-left: 45px;
  margin-bottom: 20px;
}

.attraction-title {
  padding-left: 45px;
  margin-bottom: 20px;
}

/* styling for Navbar Buttons */
.NavbarButton {
  color: white;
  padding: 15px 20px;
  position: relative;
  display: block;
  color: #777;
  text-decoration: none;
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  line-height: 20px;
}

/*styling weather*/
@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}
  
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

.main-title {
  text-align: center;
}

.main {
  background-color: #f5f5f5;
}

.weather {
  margin-bottom: 30px;
  margin-left: 20px;
}

.weather-title {
  margin-left: 18px;
}

.hr-style {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.calendar {
  padding-left: 100px;
}


